.summary-item {
    font-size: 12px;
    color: var(--mud-palette-secondary);
    padding: 12px 16px;
    border: 1px solid var(--mud-palette-secondary-lighten);
}

.summary-total {
    color: var(--mud-palette-white);
    background-color: var(--mud-palette-info);
    border-radius: 4px 4px 0px 0px;
}
