# URL base de la API de administración (obligatorio)
AdminApiClient__BaseAddress=https://dev-web.admin.pwrticket.mx/

# Clave secreta de Seats.io (obligatorio)
SeatsIo__SecretKey=987854b4-99e5-4b7b-a964-c7ec36fc9025

# Usuarios permitidos para login (opcional si ya defines en appsettings).
# Puedes añadir más usuarios con __1__, __2__, etc.
Authentication__AllowedUsers__0__Email=admin@xolos.com.mx
Authentication__AllowedUsers__0__Password=adminadmin
